
@media only screen and (max-width: 1200px)
	.menu
		margin-top: 65px
		.menu__item
			float: none
		.menu__link
			border-right: none
			border-bottom 1px solid black
	.icon-menu2
		display: block

@media only screen and (max-width: 992px)
	.icon-menu2
		position: absolute
		top: 80px
		right: 50%
	.phone
		margin-top: 35px
		margin-right: auto
		margin-left: auto
