@media only screen and (min-width: 1200px)
	.b-office
		.b-office__img
			max-width: 360px
	.star-pos
		position: relative
		right: 58px



@media only screen and (max-width: 1199px)
	.menu
		position: relative
		display: none
		.menu__item
			float: none
		.menu__link
			border-right: none
			border-bottom 1px solid black
	.icon-menu2
		display: block
	.title-dots
		display: none

	.b-office 
		.b-office__link
			float: none
	.star-pos
		position: relative
		right: 30px



@media only screen and (max-width: 1199px) and (min-width: 992px)
	.margin-menu
		margin-top: 90px
	.logo-img
		left: 280px
	.logo-img_bottom
		left: 400px
@media only screen and (max-width: 991px)
	.margin-menu
		margin-top: 25px
	.logo-img
		left: 180px
	.logo-img_bottom
		left: 300px
	.icon-menu2
		position: absolute
		top: 25px
		left: 20px
	.phone
		margin-top: 0px 
		margin-right: auto
		margin-left: auto
	.b-prod-button
		display: inline-block
		margin-right: 20px
		text-align: center
	.b-prod-button_shop
		margin-top: 50px
	.b-prod-button_free-ass
		margin-top: 50px
	.text-align-center
		text-align: center
	.p-first-top
		margin-top: 40px
	.star-pos
		position: relative
		right: 5px
	.b-prod-button_free-ass
		position: relative
		top: 12px
	.margin-left
		margin-left: 0px

@media only screen and (max-width: 518px)
	.logo-img
		opacity: 0
	.logo-img_bottom
		opacity: 1

@media only screen and (max-width: 767px)
	.logo-img
		left: -90px
	.logo-img_bottom
		left: -10px

@media only screen and (max-width: 535px)
	.p-top-buttons
		width: 83px
		height: 76px
		margin-bottom: 20px
		color: #fff
		font-family: 'MyriadPro-BoldCond'
		font-size: 18px
		padding-top: 25px
	.b-prod-button
		margin-right: 10px
	.b-prod-button_free-ass
		position: relative
		top: 20px
	.b-prod-button_free-ass
		padding-top: 20px
		top: 13px


