//vars
$font-folder: '../fonts/'
$font-size: 15px
$line-height: 18px
$top-nav-color: #e3f0fd
$main-color: #ffffff
$accent-color: #4199e3
$text-color: #4a5976
$bottom-nav-color: #e4ebf3
$table-color: #f5faff



